@charset "UTF-8";
/* COMMON */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Pretendard', sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
}
.clear {
    clear: both;
}

/* HEADER */
header {
    position: relative;
    width: 100%;
    height: 75px;
    top: 0;
    position: fixed;
    z-index: 999;
    border-bottom: 1px solid white;
    transition: 1.5s  ease-in-out;
}
header.active {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px); 
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 1.5s ease-in-out;
}
#logo {
    position: absolute;
    padding: 20px;
    float: left;
    display: flex;
    color: white;
    left: 1%;
}
#logo_img {
    opacity: 1;
    transition: 3s;
    animation: fadeIn_1 3s forwards;
}
nav.main_menu ul{
    font-family: 'Pretendard', sans-serif;
    list-style: none;
    text-align: right;
    padding: 30px;
}
nav.main_menu li {
    font-size: 1.35rem;
    font-weight: 100;
    padding:0 20px 0 20px;
    display: inline;
    color: white;
}
nav.main_menu li.active {
    color: black;
    transition: 1.5s;
}
nav.main_menu a {
    text-decoration: none;
}

/* Main */
.section_0 video#bg_video {
    width: 100%;
    filter: brightness(45%);
}
#wrap {
    width: 100%;
}
.section_0 {
    width: 100%;
    position: relative;
}
.section_0 p.ani_1 {
    font-family: 'Pretendard', sans-serif;
    font-weight: 100;
    font-size: clamp(1rem, 5vw, 5rem);
    position: absolute;
    top: 45%;
    left: 3%;
    z-index: 999;
    color: white;
    opacity: 0;
    animation: fadeIn 3s forwards, slideIn 3s forwards;
}
.section_0 p.ani_1 span{
    color: #FBDE66;
    font-weight: 900;
}
.section_0 p.ani_2 {
    font-family: 'Pretendard', sans-serif;
    font-weight: 100;
    font-size: clamp(1rem, 5vw, 5rem);
    position: absolute;
    top: 55%;
    left: 3%;
    z-index: 999;
    color: white;
    opacity: 0;
    animation: fadeIn 3s forwards, slideIn 3s forwards;
    animation-delay: 1.3s;
}
.section_0 p.ani_2 span{
    color: #FBDE66;
    font-weight: 900;
}
.section_0 .img_1 {
    position: absolute;
    width: 50px;
    top: 85%;
    left: 50%;
    opacity: 0;
    animation: fadeIn 10s forwards, slideIn 3s forwards, blink 1.5s infinite;
    animation-delay: 3.5s;
}
.section_1 {
    position: relative;
    width: 100%;
    height: 1080px;
    background-color: white;
    color: white;
    /*border: 4px solid red;*/
    text-align: center;
    background-image: element();
}
.section_1 video {
    display: none;
    opacity: 0;
    margin: auto;
    margin-top: 160px;
    text-align: center;
    animation: fadeIn 3s forwards;
}
.section_2 {
   position: relative;
   width: 100%;
   height: 1080px;
}
.section_2 #bg_img {
   width: 100%;
   height: 1080px;
   background-image: url("./img/section_img_1.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   /*border: 4px solid green;*/
   display: none;
   opacity: 0;
   animation: fadeIn 2.5s forwards;
}

.section_2 p.title {
    position: absolute;
    top: 35%;
    left: 5%;
    text-align: left;
    color: black;
    font-size: clamp(1rem, 5vw, 4rem);
    font-weight: 200;
    opacity: 0;
    animation: fadeIn 2s forwards, slideIn_1 2s forwards;
    animation-delay: 1.5s;
}
.section_2 p.title span{
    font-weight: 700;
    font-size: clamp(1rem, 5vw, 5rem);
    color: rgb(255, 221, 83);
}
.section_2 p {
    position: absolute;
    top: 55%;
    left: 6%;
    text-align: left;
    color: rgb(50, 50, 50);
    font-size: clamp(1.25rem, 5vw, 1.25rem);
    font-weight: 150;
    opacity: 0;
    animation: fadeIn 2s forwards, slideIn_1 2s forwards;
    animation-delay: 2.5s;
}

.section_3 {
    width: 100%;
    height: 20000px;
    background-image: linear-gradient(to bottom, #fff 0%, #fff 27%, #fbde66 100%);
    /*border: 3px solid blue;*/
}

.section_3 .plan {
    width: 100%;
    height: 2700px;
    position: relative;
    display: none;
    opacity: 0;
    animation: fadeIn 3.5s forwards;
    transition: 2s ease;
}
.section_3 .plan_img {
    display: none;
    margin-top: 400px;
}
.section_3 .plan .plan_1 {
    padding: 50px;
    opacity: 0;
    animation: fadeIn 2s forwards, slideIn_2 3s forwards;
    transition: 0.5s ease;
    /*transform: scale(1);*/
}
.section_3 .plan .plus {
   margin-bottom: 50px;
   opacity: 0;
   /*transform: scale(1);*/
   transition: 0.5s ease;
   animation: fadeIn 2s forwards, slideIn_2 3s forwards;
}
.section_3 .plan .arrow {
    margin-top: 100px;
    margin-bottom: 70px;
    transition: 0.5s ease;
 }
.section_3 .plan .top_title {
    font-size: clamp(1.5rem, 5vw, 1.5rem);
    font-weight: 300;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 250px;
    color: #7d7d7d
}
.section_3 .plan .comment {
    font-size: clamp(1.2rem, 5vw, 1.2rem);
    text-align: center;
    font-weight: 300;
    padding: 20px;
}
.section_3 .plan .comment {
    animation: fadeIn 2s forwards, slideIn_2 3s forwards;
    transition: 1.5s ease;
}
.section_3 .plan .comment2 {
    font-size: clamp(1.5rem, 5vw, 1.5rem);
    text-align: center;
    font-weight: 200;
    padding: 20px;
    /*transform: scale(1);*/
    animation: fadeIn 2s forwards, slideIn_2 3s forwards;
    transition: 1s ease;
}
.section_3 .plan .comment2 span{
    font-weight: 700;
}
.section_3 .plan .comment3 {
    font-size: clamp(1.5rem, 5vw, 1.5rem);
    text-align: center;
    font-weight: 200;
    padding: 20px;
    opacity: 1;
    animation: fadeIn 2s forwards;
}
.section_3 .plan .comment4 .style_1 {
    font-size: clamp(1.5rem, 5vw, 2.1rem);
    font-weight: 200;
    color: #576238;
    opacity: 0;
    animation: fadeIn 3s forwards, slideIn_2 3s forwards;
    animation-delay: 0.8s;
}
.section_3 .plan .comment4 {
    text-align: center;
    padding: 20px;
    display: none;
    opacity: 0;
    animation: fadeIn 4s forwards, slideIn_2 3s forwards;
}
.section_3 .naming {
    position: relative;
    width: 100%;
    height: 1000px;
    border: solid yellow 3px;
    opacity: 0;
    transition: opacity 3.2s ease; 
}
.section_3 .naming .top_title {
    font-size: clamp(1.5rem, 5vw, 1.5rem);
    font-weight: 300;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 250px;
    color: #7d7d7d;
}
.section_3 .naming .naming_logo {
    position:absolute;
    top: 46.8%;
    left: 15%;
}
.section_3 .naming .naming_title {
    position:absolute;
    font-size: clamp(1.5rem, 5vw, 2.3rem);
    font-weight: 700;
    top: 39.8%;
    left: 51%;
}
.section_3 .naming .naming_title span {
    font-size: clamp(1.5rem, 5vw, 2.9rem);
}
.section_3 .naming .naming_title span.first {
    font-size: clamp(1.5rem, 5vw, 3.8rem);
}
.section_3 .naming .naming_text {
    position:absolute;
    font-size: clamp(1.5rem, 5vw, 1.5rem);
    font-weight: 200;
    top: 49.8%;
    left: 51%;
}

.section_3 .naming .naming_text span {
    font-size: clamp(1.5rem, 5vw, 1.7rem);
    font-weight: 500;
}
article.design_0 {
    display: none;
    text-align: center;
}
.section_3 .design_0 {
    width: 100%;
    height: 800px;
    position: relative;
    /* border: solid 3px green; */
}
.section_3 p.title{
    margin-top: 300px;
    font-size: clamp(1rem, 5vw, 4rem);
    font-weight: 100;
    opacity: 0;
    animation: slideIn_2 2s forwards, fadeIn 2s forwards;
}
.section_3 p.title span{
    font-weight: 700;
}
.section_3 .design_0 .box {
    position: relative;
    width: 40%;
    height: 450px;
    margin: auto;
    margin-top: 100px;
    background: rgb(255, 255, 255);
    border-radius: 3rem;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    opacity: 0;
    animation: slideIn_2 2s forwards, fadeIn 3s forwards;
    animation-delay: 2.7s;
}
.section_3 .box p {
    position: absolute;
    padding: 40px;
    top: 23%;
    margin-top: auto;
    font-size: clamp(1.25rem, 5vw, 1.25rem);
    font-weight: 200;
}
.section_3 .box span {
    font-weight: 800;
    font-size: larger;
    color: #ffdb4a;
}
#tp {
    font-size: clamp(1rem, 5vw, 5.5rem);
    font-weight: 900;
    color: #576238;
}

.section_3 .keyword {
    position: relative;
    width: 100%;
    height: 1080px;
    overflow: hidden;
    border: solid 3px blue;
    background-image: url("./img/keyword_bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: opacity 1.5s ease;
}

.section_3 .keyword.active {
    top: 0;
    background-color: #576238;
    transition: 2s ease;
    position: -webkit-sticky;
    position: sticky;
    transition: 1.5s ease;
}
.keyword .top_title {
    font-size: clamp(1.5rem, 5vw, 1.5rem);
    font-weight: 300;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 250px;
    color: #cbcbcb
}
.keyword_1 {
    font-size: 90px;
    position: absolute;
    left: 27%;
    top: 13%;
    opacity: 1;
    color: rgb(225, 225, 225);
}
.keyword_2 {
    font-size: 55px;
    position: absolute;
    left: 10%;
    top: 40%;
    opacity: 1;
    color: rgb(225, 225, 225);
}
.keyword_3 {
    font-size: 80px;
    position: absolute;
    left: 78%;
    top: 32%;
    opacity: 1;
    color: rgb(225, 225, 225);
}
.keyword_4 {
    font-size: 50px;
    position: absolute;
    left: 42%;
    top: 45%;
    opacity: 1;
    color: rgb(225, 225, 225);
}
.keyword_5 {
    font-size: 40px;
    position: absolute;
    left: 70%;
    top: 65%;
    opacity: 1;
    color: rgb(225, 225, 225);
}
.keyword_6 {
    font-size: 85px;
    position: absolute;
    left: 22%;
    top: 70%;
    opacity: 1;
    color: rgb(225, 225, 225);
}
.keyword_7{
    font-size: 111px;
    position: absolute;
    left: 50%;
    top: 22%;
    opacity: 1;
    color: rgb(225, 225, 225);
}
.scroll {
  opacity: 0; /* 초기 불투명도 */
  transition: opacity 0.5s ease; /* 오파시티 변경 효과를 위해 */
}










/* 키프레임 애니메이션 */
@keyframes slideIn {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-40%);
    }
}
@keyframes slideIn_1 {
    from {
        transform: translateX(50%);
    }
    to {
        transform: translateX(7%);
    }
}
@keyframes slideIn_2 {
    from {
        transform: translateY(50%);
    }
}
@keyframes fadeIn {
to {
    opacity: 1;
}
}
@keyframes fadeIn_1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes blink {
    0% {
      opacity: 1; 
    }
    50% {
      opacity: 0; 
    }
    100% {
      opacity: 1; 
    }
  }
