@charset "UTF-8";
/* COMMON */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Pretendard', sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
}
.clear {
    clear: both;
}

/* HEADER */
header {
    position: relative;
    width: 100%;
    height: 75px;
    top: 0;
    position: fixed;
    z-index: 999;
    border-bottom: 1px solid white;
    transition: 1.5s  ease-in-out;
}
header.active {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px); 
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 1.5s ease-in-out;
}
#logo {
    position: absolute;
    padding: 20px;
    float: left;
    display: flex;
    color: white;
    left: 1%;
}
#logo_img {
    opacity: 1;
    transition: 3s;
    animation: fadeIn_1 3s forwards;
}
nav.main_menu ul{
    font-family: 'Pretendard', sans-serif;
    list-style: none;
    text-align: right;
    padding: 30px;
}
nav.main_menu li {
    font-size: 1.35rem;
    font-weight: 100;
    padding:0 20px 0 20px;
    display: inline;
    color: white;
}
nav.main_menu li.active {
    color: black;
    transition: 1.5s;
}
nav.main_menu a {
    text-decoration: none;
    cursor: pointer;
}

nav.main_menu a:hover{
    color: #576382
}
/* Main */
.section_0 video#bg_video {
    width: 100%;
    filter: brightness(45%);
}
#wrap {
    width: 100%;
    height: 32000px;
    position: relative;
    background-image: linear-gradient(to bottom, #fff 0%, #fbde66 100%);
}
.section_0 {
    width: 100%;
    position: relative;
}
.section_0 p.ani_1 {
    font-family: 'Pretendard', sans-serif;
    font-weight: 100;
    font-size: clamp(1rem, 5vw, 5rem);
    position: absolute;
    top: 45%;
    left: 3%;
    z-index: 999;
    color: white;
    opacity: 0;
    animation: fadeIn 3s forwards, slideIn 3s forwards;
}
.section_0 p.ani_1 span{
    color: #FBDE66;
    font-weight: 900;
}
.section_0 p.ani_2 {
    font-family: 'Pretendard', sans-serif;
    font-weight: 100;
    font-size: clamp(1rem, 5vw, 5rem);
    position: absolute;
    top: 55%;
    left: 3%;
    z-index: 999;
    color: white;
    opacity: 0;
    animation: fadeIn 3s forwards, slideIn 3s forwards;
    animation-delay: 1.3s;
}
.section_0 p.ani_2 span{
    color: #FBDE66;
    font-weight: 900;
}
.section_0 .img_1 {
    position: absolute;
    width: 50px;
    top: 85%;
    left: 50%;
    opacity: 0;
    animation: fadeIn 10s forwards, slideIn 3s forwards, blink 1.5s infinite;
    animation-delay: 3.5s;
}
.section_1 {
    position: relative;
    width: 100%;
    height: 1080px;
    background-color: white;
    color: white;
    /*border: 4px solid red;*/
    text-align: center;
    background-image: element();
}
.section_1 iframe{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.section_2 {
   position: relative;
   width: 100%;
   height: 1080px;
}
.section_2 #bg_img {
   width: 100%;
   height: 1080px;
   background-image: url("./img/section_img_1.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   /*border: 4px solid green;*/
   display: none;
   opacity: 0;
   animation: fadeIn 2.5s forwards;
}
.section_2 #bg_img img{
    position: absolute;
    width: 23%;
    top: 64%;
    left: 18%;
    opacity: 0;
    animation: fadeIn 2.5s forwards;
    animation-delay: 1.5s;
 }
.section_2 p.title {
    position: absolute;
    top: 20%;
    left: 2%;
    text-align: left;
    color: black;
    font-size: clamp(1rem, 5vw, 3.3rem);
    font-weight: 200;
    opacity: 0;
    animation: fadeIn 2s forwards, slideIn_1 2s forwards;
    animation-delay: 0.5s;
}
.section_2 .top_title {
    font-size: clamp(1.5rem, 5vw, 1.5rem);
    font-weight: 300;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 250px;
    color: #7d7d7d
}
.section_2 p.title span{
    font-weight: 700;
    font-size: clamp(1rem, 5vw, 5rem);
    color: #576238;
}
.section_2 p.text {
    position: absolute;
    top: 40%;
    left: 2%;
    text-align: left;
    color: rgb(50, 50, 50);
    font-size: clamp(1.25rem, 5vw, 1.25rem);
    font-weight: 150;
    padding: 10px;
    opacity: 0;
    animation: fadeIn 2s forwards, slideIn_1 2s forwards;
    animation-delay: 1.5s;
}

.section_2 p span{
    color: #576238;
    font-weight: 800;
}

.section_3 {
    width: 100%;
    height: 20000px;
    /*border: 3px solid blue;*/
}

.section_3 .plan {
    width: 100%;
    height: 4700px;
    position: relative;
    display: none;
    opacity: 0;
    animation: fadeIn 3.5s forwards;
    transition: 0.5s ease;
}
.section_3 .plan_img {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 70%;
}
.section_3 .plan_img .circle {
    position: relative;
    text-align: center;
    margin: 0 30px 50px 30px;
    display: inline-block;
    width: 300px;
    height: 120px;
    border: solid rgb(211, 211, 211) 2px;
    color: #8a8a8a;
    border-radius: 4rem;
    transition: 0.3s ease;
}
.section_3 .plan_img .circle.active {
    background-color: #475A07;
    color: white;
    font-weight: 800;
    border: none;
} 
.section_3 .plan_img .circle2 {
    position: relative;
    text-align: center;
    margin: 0 40px 50px 40px;
    display: inline-block;
    width: 500px;
    height: 120px;
    border: solid rgb(211, 211, 211) 2px;
    color: #8a8a8a;
    border-radius: 4rem;
    transition: 0.3s ease;
}
.section_3 .plan_img .circle2.active {
    background-color: #FBDE66;
    color: white;
    font-weight: 800;
    border: none;
}
.section_3 .plan_img .circle p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}
.section_3 .plan_img .circle2 p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
}
.section_3 .plan .persona_box {
    width: 80%;
    height: 20%;
    margin: auto;
    margin-bottom: 200px;
    background: rgb(255, 255, 255);
    border-radius: 3rem;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
}
.section_3 .plan .persona {
    display: block;
    margin: auto;
    margin-bottom: 100px;
    width: 100%;
    height: 900px;
}
.section_3 .plan .plus {
   margin: 60px 0 60px 0;
   opacity: 0;
   /*transform: scale(1);*/
   animation: fadeIn 2s forwards, slideIn_2 3s forwards;
   transition: 1.5s ease;
}
.section_3 .plan .arrow {
    margin-top: 100px;
    margin-bottom: 70px;
    transition: 0.5s ease;
 }
.section_3 .plan .top_title {
    font-size: clamp(1.5rem, 5vw, 1.5rem);
    font-weight: 300;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #7d7d7d
}
.section_3 .plan #align {
    width: 100%;
    position: absolute;
    top: 55%;
}
.section_3 .plan .comment {
    font-size: clamp(1.2rem, 5vw, 1.8rem);
    text-align: center;
    font-weight: 300;
    padding: 20px;
    animation: fadeIn 2s forwards, slideIn_2 3s forwards;
}
.section_3 .plan .comment span {
    font-size: clamp(1.2rem, 5vw, 2.5rem);
    font-weight: 500;
}
.section_3 .plan .comment2 {
    font-size: clamp(1.5rem, 5vw, 1.5rem);
    text-align: center;
    font-weight: 200;
    padding: 20px;
    /*transform: scale(1);*/
    animation: fadeIn 2s forwards, slideIn_2 3s forwards;
    transition: 1s ease;
}
.section_3 .plan .comment2 span{
    font-weight: 700;
}
.section_3 .plan .comment3 {
    font-size: clamp(1.5rem, 5vw, 1.5rem);
    text-align: center;
    font-weight: 200;
    padding: 20px;
    opacity: 1;
    animation: fadeIn 2s forwards;
}
.section_3 .plan .comment4 .style_1 {
    font-size: clamp(1.5rem, 5vw, 2.1rem);
    font-weight: 200;
    color: #576238;
    animation: fadeIn 3s forwards, slideIn_2 3s forwards;
    animation-delay: 0.8s;
}
.section_3 .plan .comment4 {
    text-align: center;
    padding: 20px;
    display: none;
    opacity: 0;
    animation: fadeIn 4s forwards, slideIn_2 3s forwards;
}
.section_3 .naming {
    position: relative;
    width: 100%;
    height: 1000px;
    /*border: solid yellow 3px;*/
    margin-top: 100px;
    opacity: 0;
    transition: opacity 3.2s ease; 
}
.section_3 .naming .top_title {
    font-size: clamp(1.5rem, 5vw, 1.5rem);
    font-weight: 300;
    padding: 30px;
    margin-top: 50px;
    color: #7d7d7d;
}
.section_3 .naming .naming_logo {
    position:absolute;
    top: 40%;
    left: 15%;
}
.section_3 .naming .naming_title {
    position:absolute;
    font-size: clamp(1.5rem, 5vw, 2.3rem);
    font-weight: 700;
    top: 33%;
    left: 51%;
}
.section_3 .naming .naming_title span {
    font-size: clamp(1.5rem, 5vw, 2.9rem);
}
.section_3 .naming .naming_title span.first {
    font-size: clamp(1.5rem, 5vw, 3.8rem);
}
.section_3 .naming .naming_text {
    position:absolute;
    font-size: clamp(1.5rem, 5vw, 1.5rem);
    font-weight: 200;
    top: 43%;
    left: 51%;
}

.section_3 .naming .naming_text span {
    font-size: clamp(1.5rem, 5vw, 1.7rem);
    font-weight: 500;
}


.section_3 .keyword {
    position: relative;
    width: 100%;
    height: 1080px;
    transition: opacity 1.5s ease;
}

.section_3 .keyword.active {
    top: 6%;
    transition: 2s ease;
    position: -webkit-sticky;
    position: sticky;
    transition: 1.5s ease;
}
.keyword .top_title {
    font-size: clamp(1.5rem, 5vw, 1.5rem);
    font-weight: 300;
    padding: 30px;
    margin-top: 50px;
    color: #7d7d7d
}
.section_3 .keyword .circle_k {
    position: relative;
    position: absolute;
    text-align: center;
    margin: 110px 0 60px 0;
    width: 20%;
    height: 500px;
    border-radius: 4rem;
    background-color: white;
    transition: 0.3s ease;
}
.section_3 .keyword .circle_k p {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.8rem;
}
.keyword_1 {
    /*font-size: 90px;
    position: absolute;
    left: 27%;
    top: 13%;
    opacity: 1;
    color: rgb(225, 225, 225);*/
    left: 2.5%;
    background-image: url(./img/trendy.png);
    background-position: center;
    background-size: cover;
}
.keyword_2 {
    /*font-size: 55px;
    position: absolute;
    left: 10%;
    top: 40%;
    opacity: 1;
    color: rgb(225, 225, 225);*/
    left: 27.5%;
    background-image: url(./img/smart.png);
    background-position: center;
    background-size: cover;
}
.keyword_3 {
    /*font-size: 80px;
    position: absolute;
    left: 78%;
    top: 32%;
    opacity: 1;
    color: rgb(225, 225, 225);*/
    left: 52.5%;
    background-image: url(./img/life.png);
    background-position: center;
    background-size: cover;
}
.keyword_4 {
    /*font-size: 50px;
    position: absolute;
    left: 42%;
    top: 45%;
    opacity: 1;
    color: rgb(225, 225, 225);*/
    left:77.5%;
    background-image: url(./img/study.png);
    background-position: center;
    background-size: cover;
}
.scroll {
  opacity: 0; 
  transition: opacity 0.5s ease;
}
.section_4 {
    position: relative;
    position: absolute;
    width: 100%;
    height: 5500px;
    top: 45%;
    transition: 2s ease;
    /*border: 5px solid red;*/
}
.section_4 .top_title{
    font-size: clamp(1.5rem, 5vw, 1.5rem);
    font-weight: 300;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 250px;
    color: #7d7d7d;
}
.section_4 .design_font {
    position: absolute;
    font-size: clamp(1.5rem, 5vw, 2.6rem);
    font-weight: 800;
    color: black;
    top: 14%;
    left: 10%;
}
.section_4 .design_font2 {
    position: absolute;
    font-size: clamp(1.5rem, 5vw, 2.6rem);
    font-weight: 800;
    color: black;
    top: -10%;
    left: 10%;
}
.section_4 .design_1 {
    position: relative;
    width: 100%;
    height: 1500px;
    /*border: 5px solid green;*/
}
.section_4 .design_1 .circle1{
    position: absolute;
    position: relative;
    text-align: center;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: #576238;
    color: white;
    left: 23%;
}
.section_4 .design_1 .circle2{
    position: absolute;
    position: relative;
    text-align: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #FBDE66;
    left: 25.5%;
    margin-top: 100px;
}
.section_4 .design_1 .circle1 .p1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(1.5rem, 5vw, 1.5rem);
}
.section_4 .design_1 .circle2 img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(1.5rem, 5vw, 1.5rem);
}
.section_4 .font_t {
    font-size: clamp(1.2rem, 5vw, 1.5rem);
    font-weight: 200;
    padding: 8%;
}
.section_4 .font_box {
    text-align: center;
}
.section_4 .design_1 .font_img1 {
    position: absolute;
    top: 24.5%;
    left: 55%;
}
.section_4 .design_1 .font_img2 {
    position: absolute;
    top: 60%;
    left: 55%;
}
.section_4 .design_2 .font_img3 {
    margin-top:30px;
}
.section_4 .design_2 {
    position: relative;
    text-align: center;
    width: 100%;
    height: 1000px;
}
.section_4 .design_2 .color {
   text-align: center;
   margin-top: 500px;
}
 .section_4 .design_3{ 
    position: relative;
    width: 100%;
    height: 1500px;
    text-align: center;
    /*border: solid 4px aqua*/
}
.section_4 .design_3 .icon_img {
    padding: 40px;
    margin-top: 350px;
}
.section_4 .design_4 {
    position: relative;
    width: 100%;
    height: 2700px;
    background-image: linear-gradient(to bottom, #FBEAA4 0%, #fff 100%);
    border-bottom-left-radius: 20rem;  
    box-shadow: 10px 30px 30px rgba(67, 67, 67, 0.3);
    /*border: solid 3px orangered;*/
}
.section_4 .design_4 .design_logo {
    position: absolute;
    left: 67%;
    top: 92%;
}
.section_4 .design_4 .frame {
    margin-top: 200px;
    width: 100%;
    display: none;
    opacity: 0;
    animation: slideIn3 2s forwards, fadeIn 2s forwards;
}
.section_4 .design_4 .frame.active {
    display: block;
}
.section_5 {
    position: relative;
    width: 100%;
    height: 1000px;
    margin-top: 500px;
    /*border: solid 3px blue;*/
    transition: 0.5s ease;
}
article.design_0 {
    display: none;
    text-align: center;
}
.section_5 .design_0 {
    width: 100%;
    height: 1000px;
    position: absolute;
    top: 20%;
    /* border: solid 3px green; */
}
.section_5 .top_title {
    font-size: clamp(1.5rem, 5vw, 1.5rem);
    font-weight: 300;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 250px;
    color: #7d7d7d
}
.section_5 .title_box {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: black;
    background-image: url(./img/title_box.png);
    background-position: bottom;
    background-size: cover;
}
.section_5 p.title{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(1.5rem, 3vw, 4rem);
    font-weight: 400;
    color: white;
    opacity: 0;
    animation: slideIn_2 2s forwards, fadeIn 2s forwards;
}
.section_5 p.title span{
    font-weight: 700;
}
.section_5 .title_box .text {
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: clamp(1rem, 3vw, 1.25rem);
    color: white;
    font-weight: 400;
}
.section_5 .box span {
    font-weight: 800;
    font-size: larger;
    color: #ffdb4a;
}
.section_5 .service_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 400px;
    z-index: 0;
}
article.menu_intro {
width: 100%;
height: 1300px;
text-align: center;
transition: 0.5s ease;
}
.news {
transition: 0.5s ease;
}
.trend {
transition: 0.5s ease;
}
.health {
transition: 0.5s ease;
}
.planner {
transition: 0.5s ease;
}
article.video {
    position: relative;
    width: 100%;
    height: 1080px;
    overflow: hidden;
}
article.video .video1-1 {
    position: absolute;
    width: 40%;
    top: 50%;
    left: 5%;
}
article.video2 {
    position: relative;
    width: 100%;
    height: 1080px;
    overflow: hidden;
}
article.video2 .video2-1 {
    position: absolute;
    width: 40%;
    top: 50%;
    left: 50%;
}
article.video3 {
    position: relative;
    width: 100%;
    height: 1500px;
    overflow: hidden;
}
article.video3 .video3-1{
    position: absolute;
    width: 21%;
    top: 45%;
    left: 14%;
}
article.video3 .video3-2{
    position: absolute;
    width: 34%;
    top: 55%;
    left: 7%;
}

/* footer */
footer {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 500px;
    background-image: url(./img/footer.svg);
    background-size: cover;
    background-position: center;
}


/* Typing Style */
#tp {
    font-size: clamp(1.5rem, 3vw, 5.5rem);
    font-weight: 900;
    color: #ffdb4a;
}

.tp_1, .tp_2, .tp_3, .tp_4 {
    font-size: clamp(1.5rem, 3vw, 5.5rem);
    font-weight: 900;
    color: #576238;
}





/* 키프레임 애니메이션 */
@keyframes slideIn {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-40%);
    }
}
@keyframes slideIn_1 {
    from {
        transform: translateX(50%);
    }
    to {
        transform: translateX(7%);
    }
}
@keyframes slideIn_2 {
    from {
        transform: translateY(0%);
    }
}
@keyframes slideIn3 {
    from {
        transform: translateY(50%);
    }
    to {
        transform: translateY(0%);
    }
}
@keyframes fadeIn {
to {
    opacity: 1;
}
}
@keyframes fadeIn_1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes blink {
    0% {
      opacity: 1; 
    }
    50% {
      opacity: 0; 
    }
    100% {
      opacity: 1; 
    }
  }
