@charset "UTF-8";
/* COMMON */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
}
.clear {
    clear: both;
}

/* HEADER */
header {
    position: relative;
    width: 100%;
    height: 75px;
    top: 0;
    position: fixed;
    z-index: 999;
    border-bottom: 1px solid white;
    transition: 1.5s  ease-in-out;
}
header.active {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px); 
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 1.5s ease-in-out;
}
#logo {
    position: absolute;
    padding: 20px;
    float: left;
    display: flex;
    color: white;
    left: 1%;
}
#logo_img {
    opacity: 1;
    transition: 3s;
    animation: fadeIn_1 3s forwards;
}
nav.main_menu ul{
    font-family: sans-serif;
    list-style: none;
    text-align: right;
    padding: 30px;
}
nav.main_menu li {
    font-size: 1.35rem;
    padding:0 20px 0 20px;
    display: inline;
    color: white;
}
nav.main_menu li.active {
    color: black;
    transition: 1.5s;
}
nav.main_menu a {
    text-decoration: none;
}

/* Main */
.section_0 video#bg_video {
    width: 100%;
    filter: brightness(45%);
}
#wrap {
    width: 100%;
}
.section_0 {
    width: 100%;
    position: relative;
}
.section_0 p.ani_1 {
    font-family: sans-serif;
    font-weight: 200;
    font-size: clamp(1rem, 5vw, 5rem);
    position: absolute;
    top: 45%;
    left: 3%;
    z-index: 999;
    color: white;
    opacity: 0;
    animation: fadeIn 3s forwards, slideIn 3s forwards;
}
.section_0 p.ani_1 span{
    color: #576238;
    font-weight: 700;
}
.section_0 p.ani_2 {
    font-family: sans-serif;
    font-weight: 200;
    font-size: clamp(1rem, 5vw, 5rem);
    position: absolute;
    top: 55%;
    left: 3%;
    z-index: 999;
    color: white;
    opacity: 0;
    animation: fadeIn 3s forwards, slideIn 3s forwards;
    animation-delay: 1.3s;
}
.section_0 p.ani_2 span{
    color: #FBDE66;
    font-weight: 700;
}
.section_0 .img_1 {
    position: absolute;
    width: 35px;
    top: 85%;
    left: 50%;
    opacity: 0;
    animation: fadeIn 3s forwards, slideIn 3s forwards;
    animation-delay: 2s;
}
.section_1 {
    position: relative;
    width: 100%;
    height: 1080px;
    background-color: white;
    color: white;
    /*border: 4px solid red;*/
    text-align: center;
}
.section_1 video {
    display: none;
    opacity: 0;
    margin: auto;
    margin-top: 80px;
    text-align: center;
    animation: fadeIn 3s forwards;
}
.section_2 {
    position: relative;
   width: 100%;
   height: 1080px;
}
.section_2 #bg_img {
   width: 100%;
   height: 1080px;
   background-image: url("./img/section_img_1.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   /*border: 4px solid green;*/
   display: none;
   opacity: 0;
   animation: fadeIn 4s forwards;
}

.section_2 p.title {
    position: absolute;
    top: 35%;
    left: 5%;
    text-align: left;
    color: black;
    font-size: clamp(1rem, 5vw, 4rem);
    font-weight: 200;
    opacity: 0;
    animation: fadeIn 2s forwards, slideIn_1 2s forwards;
    animation-delay: 1.5s;
}
.section_2 p.title span{
    font-weight: 700;
    font-size: clamp(1rem, 5vw, 5rem);
    color: rgb(255, 221, 83);
}
.section_2 p {
    position: absolute;
    top: 55%;
    left: 6%;
    text-align: left;
    color: rgb(50, 50, 50);
    font-size: clamp(1.25rem, 5vw, 1.25rem);
    font-weight: 150;
    opacity: 0;
    animation: fadeIn 2s forwards, slideIn_1 2s forwards;
    animation-delay: 2.5s;
}

.section_3 {
    width: 100%;
    height: 5000px;
    background-image: linear-gradient(to bottom, #fff 0%, #fbde66 100%);
    /*border: 3px solid blue;*/
}
article.design_0 {
    display: none;
}

.section_3 .design_0 {
    width: 100%;
    height: 2000px;
    position: relative;
    /* border: solid 3px green; */
}
.section_3 p.title{
    position: absolute;
    margin: auto;
    font-size: clamp(1rem, 5vw, 4rem);
    font-weight: 200;
    left: 28%;
    top: 13%;
    opacity: 0;
    animation: slideIn_2 1.5s forwards, fadeIn 1.5s forwards;
}
.section_3 p.title span{
    font-weight: 700;
}
.section_3 .design_0 .box {
    width: 40%;
    height: 450px;
    margin: auto;
    margin-top: 400px;
    background: white;
    border-radius: 3rem;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    opacity: 0;
    animation: slideIn_2 2s forwards, fadeIn 2s forwards;
    animation-delay: 1.5s;
}
/* 키프레임 애니메이션 */
@keyframes slideIn {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-40%);
    }
}
@keyframes slideIn_1 {
    from {
        transform: translateX(50%);
    }
    to {
        transform: translateX(7%);
    }
}
@keyframes slideIn_2 {
    from {
        transform: translateY(35%);
    }
}
@keyframes fadeIn {
to {
    opacity: 1;
}
}
@keyframes fadeIn_1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

